In [5]:
import sys
import os
sys.path.append(os.getenv("PYTHONPATH", "/app")) #REVIEW
from utils import Utils

In [7]:
utils = Utils()
spark = utils.get_spark_session()
emp = utils.get_employee_data()

In [ ]:
# Casting columns ca be done through the cast() function:
from pyspark.sql.functions import col

emp.select(col("salary").cast("double"))

In [ ]:
# Adding columns is done through the .withColumn() function:
emp.withColumn("tax", col("salary")*0.17).select("name", "salary", "tax").show()

In [ ]:
# To assign a literal or constant value, the lit() function can be used:
from pyspark.sql.functions import lit
emp.withColumn("columnOne", lit(1)).withColumn("columnTwo", lit("two")).select("name", "columnOne", "columnTwo").show()

In [ ]:
# It is also possible to add multiple columns in the same operation defining a dictionary with column names as keys and column values as values (withColumns()):
columns = {
    "tax": col("salary") * 0.2,
    "oneNumber": lit(1),
    "columnTwo": lit("two")
}

emp.withColumns(columns).show()

In [ ]:
# .withColumnRenamed() can be used to rename columns as in:
emp.withColumnRenamed("name", "employee_name").show() #Same as .expr("name as employee_name")
# It is possible to have spaces in column names although it is not recommended, since downstream systems can throw errors

In [ ]:
# The drop() function can be used to remove columns from the dataframe:
emp.drop("department_id", "hire_date").show() # Receives many arguments

In [ ]:
# To limit the number of rows of a dataset (create a new dataframe with limited rows), the limit() function can be used
emp.limit(5).show()

In [ ]:
# The function show() also receives a 'limit' parameter for the number of rows showed. This does not generate another dataframe. It limits the action.
emp.show(2)